.container
  .row
    .col-md-4.col-md-offset-4
      .form-inner
        %h2.form-title プロフィール編集
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          %ul.form-wrap
            %li
              = f.input :nickname, placeholder: '名前', label: '名前', maxlength: '6', input_html: { class: 'form-control' }
            %li
              = f.input :email, placeholder: 'メールアドレス', label: 'メールアドレス', input_html: { class: 'form-control' }
            %li
              = f.input :avatar, as: :file, input_html: { class: 'form-control' },label: 'サムネイル画像'
            %li
              = f.input :password, placeholder: '変更後のパスワード', label: '変更後のパスワード', autocomplete: "off", input_html: { class: 'form-control' }
            %li
              = f.input :password_confirmation, placeholder: '変更後のパスワード', label: '変更後のパスワード再入力', autocomplete: "off", input_html: { class: 'form-control' }
            %li
              = f.input :current_password, placeholder: '編集を完了するための現在のパスワード（必須）', label: '編集を完了するための現在のパスワード（必須）', autocomplete: "off", input_html: { class: 'form-control' }
            .actions
              = f.submit '編集する', { class: 'button button-post' }